<form class="example-container" [formGroup]="newSlideForm">

  <mat-form-field>
    <input matInput placeholder="Case #" formControlName="caseNum">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Block #" formControlName="blockNum">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Stain Name" formControlName="stainName">
      <mat-option>None</mat-option>
      <mat-option value="option1">Bcl-2</mat-option>
      <mat-option value="option2">Glucagon</mat-option>
      <mat-option value="option3">Somatostatin</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onAdd()">Add</button>
  <button id="back-button" mat-raised-button (click)="goBack()">Back</button>
</form>